.button
    padding: 11px 24px
    border: none
    border-radius: 2px
    text-transform: uppercase
    &:hover
        cursor: pointer
    &--primary
        padding: 20px 26px
        font-family: 'Futura Demi', cursive
        font-style: italic
        font-weight: 500
        font-size: 0.9285rem
        line-height: 1.0714rem
        text-align: center
        background-color: $primary
        color: $light
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        transition: box-shadow 0.3s
        &:hover
            box-shadow: none
    &--outline
        font-family: 'Futura Demi', cursive
        font-style: italic
        font-weight: 500
        padding: 18px 42px
        font-size: 0.9285rem
        line-height: 1.0714rem
        text-align: center
        border: 1px solid $light
        background-color: transparent
        color: $light