@media screen and ( max-width: 1525px )
    .row
        padding: 0px 3.5rem
@media screen and ( max-width: 1285px )
   .row
       padding: 0px 1rem
   .nav
        &__item
            margin-right: 0.9rem 
@media screen and ( max-width: 1210px )
    .row
        padding: 0px 0.5rem
    html
        font-size: 12px
@media screen and ( max-width: 1192px  )
    .row
        display: flex
        flex-direction: column
        align-items: center
    .section    
        &-title
            padding: 60px 0
            &__design
                padding: 60px 0px 0px 0px
    .design-project
        background: linear-gradient(to top, $dark 50%, $dark 50%)
    .repair
        background-color: $light
    .design-project__heading
        color: $light
    .card
        &__text
            margin: 0 auto
            margin-top: -9.3rem
            margin-bottom: 5.714rem
    .col__img
        margin-top: 2rem
        max-weight: 340px
        max-height: 201px
@media screen and ( max-width: 992px  )
    .card
        &__image
            max-width: 320px
        &__text
            margin: 0
            margin-top: -9.3rem
            margin-bottom: 5.714rem          
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .section-title__heading--primary
        font-size: 1.57rem
    .section
        &-title
            &__text
                font-size: 1rem
            &__word
                &::after
                    width: 0
                    height: 0
                    background-color: $primary
                    margin-left: 0
    .section-dark
        padding-bottom: 0
    .section-title--left
        padding: 0
        text-align: left
    .row--p
        align-items: flex-start
        padding: 0
    .col-50
        max-width: 80%
    .swiper
        &-slide
            &:last-of-type
                margin-top: 3rem
    .img
        max-width: 300px
    .swiper
        &-slidу
            &__heading
                font-size: 1rem
                background-image: 138.6%
            &__value
                font-size: 1rem
                line-height: 158.48%
@media screen and ( max-width: 576px )
    body
        background-color: $dark
    .button
        &--primary
        padding: 19px 70px
        &--outline
        padding: 19px 70px
    .modal
        &__dialog
            max-width: 22.142rem
        &__title
            margin-bottom: 0.5rem
            font-size: 1rem
        &__input
            margin-bottom: 2rem
        &__button
            font-size: 1rem
            line-height: 1rem
            padding: 18px 35px
    .input
        font-size: 1.1rem
    .contacts
        &__phone
            text-decoration: none
            margin-right: 0
            color: $light
            font-size: 0.857rem
        &__button
            display: none  
    .title
        font-size: 0.857rem
    .hero
        &__title
            font-size: 1.642rem
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            font-size: 0.92rem
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .card
        text-align: left
    .video__heading
        color: $light
@media screen and ( max-height: 550px )
    .hero
        &__scroll-down
            display: none
@media screen and ( max-width: 320px )
    .card
        &__image
            max-width: 300px