*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
.img
    max-width: 100%
.subtitle-settings
    text-align: center
    font-family: 'Futura Book', sans-serif
    max-width: 741px
    font-size: 1.428rem
    line-height: 1.928rem
    font-style: normal
    font-weight: normal
.section    
    &__subtitle
        display: flex
        align-items: center
        justify-content: center
        padding: 2px 5px
    &-title
        padding: 60px 0
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        &__design
            padding: 60px 0px 0px 0px
        &__image
            display: flex
            align-items: center
            justify-content: center
            &::before, &::after
                content: ''
                display: inline-block
                vertical-align: text-top
                width: 2.2857rem
                height: 0.1428rem
                background-color: $primary
                margin: 0 0.71428rem
                