*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
.img
    max-width: 100%
.subtitle-settings
    text-align: center
    font-family: 'Futura Book', sans-serif
    max-width: 741px
    font-size: 1.428rem
    line-height: 1.928rem
    font-style: normal
    font-weight: normal
    margin-bottom: 2.785rem
    margin-top: 1.714rem
.section
    &--dark
        background-color: $dark
        color: $light   
    &__subtitle
        display: flex
        align-items: center
        justify-content: center
        padding: 1px 14px
    &-title
        padding: 60px 0
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        &__repair
            padding: 0
            padding-bottom: 2.214rem
        &__text
            font-size: 1.28rem
            line-height: 2.07rem
            font-family: 'Futura Book', sans-serif
            font-style: normal
            font-weight: normal
            max-width: 31.57rem
            text-transform: none
        &--left
            padding: 0
            text-align: left
        &__heading
            &--primary
                margin: 0
                margin-bottom: 23px
                color: $primary
                line-height: 138.6%
                font-size: 1.928rem
                letter-spacing: -0.07em
        &__word
            display: flex
            align-items: center
            &::after
                content: ''
                width: 92px
                height: 1px
                background-color: $primary
                margin-left: 2.3rem
        &__design
            padding: 0px 0px 0px 0px
        &__image
            display: flex
            align-items: center
            justify-content: center
            &::before, &::after
                content: ''
                display: inline-block
                vertical-align: text-top
                width: 2.2857rem
                height: 0.1428rem
                background-color: $primary
                margin: 0 0.71428rem
.scrollup
    width: 40px
    height: 40px
    opacity: 0.3
    position: fixed
    bottom: 50px
    right: 100px
    display: none
    text-indent: -9999px
    background: url('../img/icon_top.png') no-repeat