.header
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    background-color: $dark
    padding: 1.7142rem 0
.menu
    display: flex
    justify-content: space-between
    align-items: center
.logo
    color: $primary
    text-transform: uppercase
    font-family: 'Futura Demi', cursive
    font-style: normal
    font-weight: 500
    font-size: 1.02rem
    line-height: 1.1428rem
.nav
    &__item
        text-decoration: none
        color: $light
        font-style: normal
        font-weight: normal
        font-size: 1rem
        line-height: 1.1428rem
        text-transform: uppercase
        margin-right: 2.8571rem
        transition: color 0.2s
        &:hover
            color: $primary 
.contacts
    &__phone
        font-family: 'Futura Demi', cursive
        font-style: normal
        font-weight: 500
        font-size: 1rem
        line-height: 1.5rem
        text-align: right
        text-decoration-line: underline
        margin-right: 3rem
        color: #E3B873
    &__button
        padding: 12px 21px