.hero
    background: $dark url('../img/image-1.jpg') no-repeat center / cover
    height: 100vh
    color: $light
    position: relative
    padding-top: 7.14285rem
    display: flex
    flex-direction: column
    justify-content: center
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba($dark, 0.7)
    &::after
        content: ''
        width: 100%
        position: absolute
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 3.46rem
        background-color: $dark
    &__content
        position: relative
        max-width: 47.85714rem
        margin-left: 4.28rem
    &__title
        margin-bottom: 1rem
    &__text
        font-family: 'Futura Book', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 1.5714rem
        line-height: 131%
        max-width: 35.714rem
        margin-bottom: 3rem
    &__button
        margin-right: 1.3rem
    &__scroll-down
        z-index: 3
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 0.85714rem
        line-height: 138.6%
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        left: 0
        bottom: 0
        min-width: 17.64285rem
        min-height: 6.9285rem
        background-color: $dark
        text-transform: uppercase
        text-decoration: none
        color: $light
        &::after
            content: ''
            background: url('../img/arrow-down.svg') no-repeat center
            width: 2.14285rem
            height: 2.14285rem
            border: 2px solid $primary
            border-radius: 50%
            margin-left: 0.8571rem
    &__instagram
        max-width: 5.7142rem
        height: 100%
        position: absolute
        left: 0
        top: 0
.instagram
    display: flex
    justify-content: center
    align-items: center
    background-color: $dark
    &__link
        font-family: 'Futura Demi', cursive
        font-size: 1.1rem
        line-height: 1.1428rem
        text-align: center
        display: flex
        align-items: center
        text-transform: uppercase
        color: $primary
        text-decoration: none
        transform: rotate(90deg)
        line-height: 0.8
        &::after
            content: ''
            width: 3.5714rem
            height: 1px
            background-color: $primary
            margin-left: 0.5714rem
.title
    margin: 0
    font-style: normal
    font-weight: normal
    line-height: 1.3
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 2.8571rem
    &--primary
        color: $primary
