.hero
    background: $dark url('../img/image-1.jpg') no-repeat center / cover
    height: 100vh
    color: $light
    position: relative
    padding-top: 100px
    display: flex
    flex-direction: column
    justify-content: center
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba($dark, 0.7)
    &__content
        position: relative
        max-width: 670px
    &__text
        font-family: 'Futura Book', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 22px
        line-height: 30px
        font-size: 22px
        max-width: 500px
    &__button
        margin-right: 20px
    &__scroll-down
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 138.6%
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        left: 0
        bottom: 0
        min-width: 247px
        min-height: 97px
        background-color: $dark
        text-transform: uppercase
        text-decoration: none
        color: $light
        &::after
            content: ''
            background: url('../img/arrow-down.svg') no-repeat center
            width: 30px
            height: 30px
            border: 2px solid $primary
            border-radius: 50%
            margin-left: 12px
    &__instagram
        max-width: 80px
        height: 100%
        position: absolute
        left: 0
        top: 0
.instagram
    display: flex
    justify-content: center
    align-items: center
    background-color: $dark
    &__link
        font-family: 'Futura Demi', cursive
        font-size: 14px
        line-height: 16px
        text-align: center
        display: flex
        align-items: center
        text-transform: uppercase
        color: $primary
        text-decoration: none
        transform: rotate(90deg)
        line-height: 0.8
        &::after
            content: ''
            width: 50px
            height: 1px
            background-color: $primary
            margin-left: 8px
.title
    margin: 0
    font-style: normal
    font-weight: normal
    line-height: 53px
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 40px
    &--primary
        color: $primary
